<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244050365953-02trqs7ujv4dgu31373gd453c3l10ojk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244050365953-02trqs7ujv4dgu31373gd453c3l10ojk</string>
	<key>API_KEY</key>
	<string>AIzaSyB9FXDdI03LJnSno09zwI7pfGkX5DOCgag</string>
	<key>GCM_SENDER_ID</key>
	<string>244050365953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mrGharbeti</string>
	<key>PROJECT_ID</key>
	<string>mr-gharbeti</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-gharbeti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244050365953:ios:33262ed140d4ead0167a00</string>
</dict>
</plist>